@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
/* common style */
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background: #fd6e0a;
  font-size: 20px;
  padding: 14px 25px;
}
.btn-secondary {
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  padding: 14px 25px;
  font-size: 20px;
  color: #fd6e0a;
}
.btn-primary:hover {
  background-color: orange;
}
/* header and navigation title */
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
  border-bottom: 6px solid #fd6e0a;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu li {
  list-style: none;
  margin-left: 30px;
}
.menu li a:hover {
  color: #fd6e0a;
}

.menu li a {
  text-decoration: none;
}
.nav-title {
  font-size: 30px;
  font-weight: 800;
  color: #181818;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* banner styles */
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}

.banner-title {
  font-size: 30px;
  color: #474747;
  margin-bottom: 10px;
}
.sub-title {
  font-size: 50px;
  font-weight: 700;
  color: #181818;
}
.discription {
  color: #757575;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About section style */
.about {
  margin-top: 130px;
  margin-bottom: 130px;
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px 150px;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  color: #181818;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info {
  text-align: center;
}
/* what i do section style */
.what-i-do {
  margin-bottom: 130px;
}
.what-description {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  color: #757575;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}
.skil {
  width: 267px;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resume style */
.resume-container {
  display: flex;
  gap: 25px;
}
.resume-item {
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume-title {
  font-size: 30px;
  font-weight: 700;
}
.sub-titile {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}
.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0px;
}
.download-btn {
  margin-top: 50px;
  margin-bottom: 130px;
  text-align: center;
}

/* contact section styles  */
.contact-section {
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  padding: 130px 200px;
}
.contact-section .section-title {
  text-align: left;
}
.contact-section input,
textarea {
  margin-bottom: 15px;
  border: none;
}
.contact-section input {
  width: 416px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}
